* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #FAFAFA;
}

li {
    list-style-type: none;
}

.container {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    margin-right: 30px;
}

.photo {
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.skills__ul {
    padding-left: 25px;
}


.title {
    width: 154px;
    background: #545454;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

footer {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.logo {
    width: 70px;
}

a {
    color: black;
    text-decoration: none;
}

.example__code {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.socials {
    margin-top: 5px;
}
.social {
    width: 50px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) { 
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) { 
    .container {
        max-width: 320px;
    }
 }

